body{
  margin: 0;
  padding: 0;
  background: url(../images/analysis_page_background.png);
  background-size: cover;
  background-position: absolute;
  font-family: 'Roboto', sans-serif;
}

.transparent-box{
  width:1000px;
  height:600px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 25px;
}



.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 7px;
  border-radius: 5px;
  background: #bdc3c7;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

p {
  text-align: left;
  margin-left: 25%;
  letter-spacing: normal;
  font-size: 18px;
}

#question{
  font-size: 25px;
  text-align: left;
  padding-top:.4%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.container:after{
  padding: 10px 10px 10px 10px;
  content: "";
  display: table;
  clear: both;
}

.container{
    padding: 20px 20px 20px 20px;
    margin-left: 7%;
    margin-right:3%;
}

#myRange::-webkit-slider-thumb{
  background: #FF00FF;
}

#myRange2::-webkit-slider-thumb{
  background: #00FF00;
}

#myRange3::-webkit-slider-thumb{
  background: #0000FF;
}

#myRange4::-webkit-slider-thumb{
  background: #999999;
}

#myRange5::-webkit-slider-thumb{
  background: #FFFF00;
}

#myRange6::-webkit-slider-thumb{
  background: #999;
}

#myRange7::-webkit-slider-thumb{
  background: #999;
}

#myRange8::-webkit-slider-thumb{
  background: #999;
}

#myRange9::-webkit-slider-thumb{
  background: #999;
}

#myRange10::-webkit-slider-thumb{
  background: #999;
}




.column {
  float: left;
  width: 45%;
  padding: 20px;
  height: 300px;
}

c{
  position:absolute;
  left:50%;
  bottom:-1%;
  transform: translate(-50%,-50%);
  width:225px;
  height:60px;
  text-align: center;
  line-height: 60px;
  color:#fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}
c:hover
{
  animation: animate 8s linear infinite;
}
@keyframes animate
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }

}
c:before
{
  content: '';
  position: absolute;
  top:-5px;
  left:-5px;
  right:-5px;
  bottom:-5px;
  z-index: -1;
  background: linear-gradient(90deg,#f441a5,#ffeb3b,#03a9f4); /*#03a9f4 -- took out this color after 90deg*/
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
c:hover:before
{
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}

#value1{
 font-family: "Comic Sans MS", sans-serif;
 font-size: 18px;
}

#value2{
 font-family: Arial, sans-serif;
 font-size: 18px;
}

#value3{
font-family: Times;
font-size: 18px;
}

#value4{
font-family: Impact, sans-serif;
font-size: 18px;
}

#value5{
font-family: "New Century";
font-size: 18px;
}
