/* @import url('https://fonts.googleapis.com/css?family=Oswald'); */

body{
  margin: 0;
  padding: 0;
  background: url(../images/analysis_page_background.png);
  background-size: cover;
  background-position: absolute;
  font-family: 'Roboto', sans-serif;
}

.card{
  width:1000px;
  height:600px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 25px;
}


/////////////

* {box-sizing: border-box}
body {font-family: 'Roboto', sans-serif;}

.tablinks{
  font-family: 'Roboto', sans-serif;
  height: 120px;
}


.tablinks:nth-child(2){

}

/* Style the tab */
.tab {
  position: relative;
  float: left;
  background-color: rgba(0, 0, 0, 0.05);
  width: 30%;
  height: 300px;
  margin-top: 12%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #fff;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fff;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Style the tab content */
.tabcontent {
  position: relative;
  float: left;
  padding: 0px 12px;
  width: 65%;
  border-left: none;
  height: 360px;
  display: none;
  margin-top: 10%;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 25px 25px 25px 25px;
}

.skills {
  text-align: right;
  padding-top: 3px;
  padding-bottom: 10px;
  color: white;
  border-radius: 25px 25px 25px 25px;


}

.html {width: 90%; background-color: #00FF00;}
.css {width: 80%; background-color: #999999;}
.js {width: 65%; background-color: #FF0000;}
.php {width: 60%; background-color: #0000FF;}
.yellow {width: 85%; background-color: #FF0000; color: black;}
.font1 {width: 75%; background-color: #4EDE3E; color: black;}
.font2 {width: 65%; background-color: #4EDE3E; color: black;}
.font3 {width: 70%; background-color: #4EDE3E; color: black;}
.font4 {width: 80%; background-color: #4EDE3E; color: black;}
.font5{width: 60%; background-color: #4EDE3E; color: black;}

.column {
  float: left;
  width: 50%;
  padding: 20px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
